
# Don't save any Python cache files
__pycache__/
*.py[cod]
*$py.class
**/*.pyc
*.pyc
**/*.eqx
**/*.png
**/*.txt
**/*.yaml
site/**
**/*.egg-info
**/*.vtk
**/*.vtu
**/*.msh
.vscode/*
src/*.egg-info

!demos/hyperelastic/neumann/inputs/*
!demos/prolate_spheroid/configs/*
!demos/prolate_spheroid/LV.vtk
!docs/tutorials/figures/*